<div class="container sign-box">
    <app-alert></app-alert>
    <form name="from" (ngSubmit)="f.form.valid && signUp()"  #f="ngForm" novalidate>
        <div class="row">
            <div class="col-sm-2 col-form-label">
                <label for="firstName">firstName</label>
            </div>
            <div class="col-sm-10" [ngClass]="{'has-warning': f.submitted && !firstName.valid, 'has-success': f.submitted && firstName.valid}">
                <input type="text" name="firstName" class="form-control form-control-success" id="firstName" placeholder="" [(ngModel)]="user.firstName" #firstName="ngModel" required >
                <div *ngIf="f.submitted && !firstName.valid" class="form-control-feedback">First Name is required</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-form-label">
                <label for="lastName">firstName</label>
            </div>
            <div class="col-sm-10" [ngClass]="{'has-warning': f.submitted && !lastName.valid, 'has-success': f.submitted && lastName.valid}">
                <input type="text" name="lastName" class="form-control form-control-success" id="lastName" placeholder="" [(ngModel)]="user.lastName" #lastName="ngModel" required >
                <div *ngIf="f.submitted && !lastName.valid" class="form-control-feedback">Last Name is required</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-form-label">
                <label for="username">userName</label>
            </div>
            <div class="col-sm-10" [ngClass]="{'has-warning': f.submitted && !username.valid, 'has-success': f.submitted && username.valid}">
                <input type="text" name="username" class="form-control form-control-success" id="username" placeholder="" [(ngModel)]="user.username" #username="ngModel" required >
                <div *ngIf="f.submitted && !username.valid" class="form-control-feedback">username is required</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-form-label">
                <label for="password">password</label>
            </div>
            <div class="col-sm-10" [ngClass]="{'has-warning': f.submitted && !password.valid, 'has-success': f.submitted && password.valid}">
                <input type="text" name="password" class="form-control form-control-success" id="password" placeholder="" [(ngModel)]="user.password" #password="ngModel" required >
                <div *ngIf="f.submitted && !password.valid" class="form-control-feedback">password is required</div>
            </div>
        </div>

         <div class="form-group row has-warning">
             <div class="col-sm-2"></div>
             <div class="col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
             </div>
         </div>
    </form>
</div>