<div>
    <div class="page-info">
        <nav>
            <ul class="pagination">
                <li class="page-item" [ngStyle]="{'cursor': pager.currentPage === 1 ? '' : pointer}" [ngClass]="{'disabled':pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" style="cursor: pointer" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="page-item" [ngStyle]="{'cursor': pager.currentPage === 1 ? '' : pointer}" [ngClass]="{'disabled':pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="page-info">
        <p>第{{currentPage}}页&nbsp;&nbsp;&nbsp;共{{allPages}}页</p>
    </div>
</div>